@use "constants" as *;

:root {
  // black and white
  --clr-white: white;
  --clr-black: black;

  // reds
  --clr-red-45: #e50000;
  --clr-red-50: #f00;
  --clr-red-55: #ff1919;
  --clr-red-60: #f33;
  --clr-red-80: #f99;
  --clr-red-90: #fcc;
  --clr-red-95: #ffe5e5;
  --clr-red-99: #fffafa;

  // blacks
  --clr-black-06: #0f0f0f;
  --clr-black-08: #141414;
  --clr-black-10: #1a1a1a;
  --clr-black-12: #1f1f1f;
  --clr-black-15: #262626;
  --clr-black-20: #333;
  --clr-black-25: #404040;
  --clr-black-30: #4c4c4c;

  // grays
  --clr-gray-60: #999;
  --clr-gray-65: #a6a6a6;
  --clr-gray-70: #b3b3b3;
  --clr-gray-75: #bfbfbf;
  --clr-gray-90: #e4e4e7;
  --clr-gray-95: #f1f1f3;
  --clr-gray-97: #f7f7f8;
  --clr-gray-99: #fcfcfd;

  // border
  --border: var(--border-width-s) solid var(--clr-black-15);

  // borders
  --border-width-s: 1px;
  --border-width-m: 3px;
  --border-width-l: 4px;

  // border radiuses
  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius-s: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  // font
  --font-family-base: "Manrope", sans-serif, system;

  // container width
  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};

  // container paddings by x
  --container-padding-x: 16px;

  // container paddings by y
  --section-padding-y: #{fluid(75, 40)};

  // transitions
  --transition-duration: 0.2s;
  --transition-duration-long: 0.4s;
}
